body {
  font-family: Arial, sans-serif;
}

.drawer {
  display: flex;

}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}

iframe {
  flex-grow: 1;
}

#favorites-count {
  padding: 10px;
  background: #f0f0f0;
}
